:root {
  --max-width: 600px;
  --border-radius: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-size: 1rem;
  overflow-x: hidden;
}

body {
  display: flex;
  min-width: 400px;
  min-height: 600px;
  flex-direction: column;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
